<mat-form-field appearance="outline">
  <mat-label>Data de nascimento</mat-label>
  <input matInput [matDatepicker]="picker" mask="00/00/0000">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
