.container-flex {
  width: 100%;
  min-height: 93.4vh;
  display: flex;
  align-items: center;

  text-align: center;
  flex-direction: column;

  h1 {
    font-weight: 500;
    color: #eee;
    margin-top: 10vh;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    button {
      margin-bottom: 20px;
      width: 90%;
    }
  }
}
