<div class="container-flex">

  <div class="content">
      <h1>Cadastre-se ou entre no nosso sistema !</h1>
      <button mat-raised-button color="primary" [routerLink]="['/signup/register']" > Cadastrar </button>
      <button mat-raised-button color="primary" [routerLink]="['/enter/login']" > Entrar </button>
  </div>
</div>
