.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #282828;
  height: 100vh;
  width: 100vw;


  .header {
     position: fixed ;
    top:0 ;
    left: 0 ;
    z-index: 1;
  }
  h1{
    font-weight: 500;
    color: #eee
  }

  form {
    padding-left: 10px;
    width: 90%;
    margin-top: 30vh;

    button {
      color: #eee
    }
  }


}
