<div class="container">
  <mat-toolbar class="header" color="primary">
    <span>Guep</span>
  </mat-toolbar>

  <div class="title">
      <h1>Entre no nosso sistema !</h1>
  </div>

  <form>
      <div class="row">
          <div class="col-md-3">
            <app-input-nome></app-input-nome>
          </div>

          <div class="col-md-3">
            <app-input-cnpj></app-input-cnpj>
          </div>

          <div class="col-md-3">
            <app-input-cpf></app-input-cpf>
          </div>


          <div class="col-md-3">
            <app-input-data-nascimento></app-input-data-nascimento>
          </div>

          <div class="col-md-3">
            <app-input-nome-mae></app-input-nome-mae>
          </div>

          <div class="col-md-3">
            <app-input-nome-pai></app-input-nome-pai>
          </div>


          <div class="col-md-3">
            <app-input-rg></app-input-rg>
          </div>

          <div class="col-md-3">
            <app-input-data-emissao></app-input-data-emissao>
          </div>

          <div class="col-md-3">
            <app-input-orgao-emissor></app-input-orgao-emissor>
          </div>

          <div class="col-md-3">
            <app-input-email></app-input-email>
          </div>

      </div>

      <div class="buttons">
          <button mat-button color="primary" [routerLink]="['/home']"><mat-icon>arrow_back</mat-icon> Voltar</button>
          <button mat-raised-button color="primary" class="right"> Criar conta</button>
      </div>
  </form>
</div>
