<mat-form-field appearance="outline">
  <mat-label>Senha</mat-label>
  <input type="password" matInput placeholder="Senha" [formControl]="control" [type]="hide ? 'password' : 'text'">
  <mat-icon matSuffix (click)="hide = !hide" [ngStyle]="{'color':'white'}">{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>

</mat-form-field>
