.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #282828;
  height: 100vh;
  width: 100vw;

  h1{
    font-weight: 500;
    color: #eee
  }

  form {
    width: 90%;


    .buttons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        color: #eee
      }
    }

  }

}
