<div class="container">
  <div class="title">
      <h1>Entre no nosso sistema !</h1>
  </div>

  <form>
      <div class="row">
          <div class="col-md-3">
            <app-input-nome></app-input-nome>
          </div>

          <div class="col-md-3">
            <app-input-senha></app-input-senha>
          </div>
      </div>

      <div class="buttons">
          <button mat-button color="primary" [routerLink]="['/home']"><mat-icon>arrow_back</mat-icon> Voltar</button>
          <button mat-raised-button color="primary" class="right"><mat-icon>key</mat-icon> entrar</button>
      </div>
  </form>
</div>
